# env
.env

# Admin/debug commmands
restrict.js
unrestrict.js
pd.js
push.js
dbupdate.js

# Non server-side
add.js
roll.js
collection.js
analyze.js

sort-filter.js

# Images
/src/assets/guessing
/src/assets/cache
/src/assets/multi
/src/assets/multi_cache
/src/assets/horses

src/assets/new/
src/assets/news/

/src/assets/info.json

# etc.
package-lock.json
node_modules
.DS_Store
*.log